html {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

#navbar {
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: white;
  width: 100%;
}

#navbar-tog {
  position: absolute;
  right: 10px;
  top: 10px;
}

#logo {
  width: 50px;
}

.nav-style {
  background: white;
}

.img-r {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff !important;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("photos/cover.png");
  /* Set a specific height */
  margin-top: 5vh;
  height: 95vh;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-title {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  color: #c2c2c2;
}

.events {
  margin-top: 200px;
  background-color: #FFDEE9;
  background-image: linear-gradient(240deg, #fff1f6 0%, #ebfffe 100%);
  padding: 30px;
  padding-bottom: 50px;
}

.events-frame {
  margin-top: 10vh;
  padding: 30px;
}

.colors {
  background-image: linear-gradient(240deg, #fff1f6 0%, #ebfffe 100%);
}

.opaa {
  position: relative;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-info {
  position: absolute;
  top: 30%;
  z-index: 3;
  width: 250px;
  margin-left: -125px;
  left: 50%;
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  text-decoration: none;
}

.card-content1 {
  text-align: center;
  text-decoration: none;
  color: #383838;
  font-size: 1.5rem;
}

.card-content2 {
  text-align: center;
  text-decoration: none;
  color: #353535;
  font-size: 1rem;
  margin-bottom: 0px !important;
}

.card-content3 {
  text-align: center;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 1rem;
}

.event-image {
  -webkit-transition: margin 0.3s, -webkit-filter 0.3s;
  transition: margin 0.3s, -webkit-filter 0.3s;
  transition: margin 0.3s, filter 0.3s;
  transition: margin 0.3s, filter 0.3s, -webkit-filter 0.3s;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  overflow: hidden;
  width: auto;
}

.card-img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.opaa:hover > .event-info {
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
}

.opaa:hover > .event-image {
  margin-right: -10px;
  margin-left: -10px;
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
}

@media only screen and (max-width: 600px) {
  .event-info {
    position: initial;
    max-width: 400px;
    width: auto;
    margin: 20px auto;
    left: 0;
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  .br {
    display: none;
  }
  .event-image {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    max-height: 214px;
  }
  .opaa {
    -webkit-box-shadow: 1px 1px 5px #cccccc;
    box-shadow: 1px 1px 5px #cccccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: white;
  }
  .event-image {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
  }
  .opaa:hover > .event-image {
    margin: 0px;
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  .events {
    margin-top: 230px;
  }
}

footer {
  overflow: hidden;
}

.foot {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, rgba(189, 94, 252, 0.596) 0%, #E0C3FC 100%);
  color: white;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 10px;
}

.social {
  background-color: white;
  color: #b39bb3;
  padding: 10px;
  margin: 20px;
  margin-top: 8px;
  border-radius: 10px;
  text-align: center;
  max-width: 250px !important;
}

.social > a {
  color: #b39bb3;
}

.social > a:hover {
  text-decoration: none !important;
  color: #b39bb3;
}

.value {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 15px rgba(174, 106, 230, 0.527);
  box-shadow: 1px 1px 15px rgba(174, 106, 230, 0.527);
  text-align: center;
  margin: 15px;
  padding: 15px;
  max-width: 250px !important;
}

.value-img {
  max-width: 100px;
  margin-bottom: 15px;
}

.vl {
  border-top: 6px solid #cacaca;
  margin-left: 50px;
  height: 6px;
  width: 400px;
}

.article-date {
  padding: 0px 70px 0px 80px;
}

.photo-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-title {
  vertical-align: middle;
  font-size: 50px;
  padding: 0px 70px 0px 80px;
}

.article-photo {
  max-width: 700px;
  height: auto;
  margin: 0px 10px 30px 30px;
  padding: 0px;
  float: left;
}

.article-content {
  padding-left: 50px;
}

.article-text {
  padding: 10px 100px 20px 100px;
  font-size: 20px;
  white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
  .article-date {
    padding: 0px 0px 0px 30px;
  }
  .article-text {
    padding: 0px 30px 20px 30px;
  }
  .photo-and-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: block;
  }
  .article-content {
    padding-left: 10px;
  }
  .article-photo {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    max-width: 90vw;
  }
  .article-title {
    padding: 0px 40px 10px 35px;
    font-size: 2rem;
  }
}

.main {
  margin: 130px 20px 0px 20px;
}

.pagination {
  text-decoration: none;
  color: #2a1f79;
  margin: 20px auto 20px auto;
  padding: 0px;
}

.pagination li {
  padding: 4px 8px 4px 8px;
  margin: 8px;
  background: #d2ceff;
  border-radius: 5px;
}

.pagination li a:link {
  color: #2a1f79;
  text-decoration: none;
}

.pagination li a:visited {
  color: #2a1f79;
  text-decoration: none;
}

.card-body {
  color: #363636;
}

a:hover {
  color: #363636;
}

.imageHolder {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 15rem;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.calendar_frame {
  padding: 100px 0px 50px 0px;
  background-image: linear-gradient(240deg, #fff1f6 0%, #ebfffe 100%);
}

.calendar_frame h2 {
  background-color: white;
  padding: 6px;
  max-width: 50vw;
  margin: auto;
  border: 1px solid #bdacff;
}

.none {
  display: none;
}

.dropdown {
  color: #444444;
  font-size: 17px;
}

#calendar_section {
  width: 880px;
  margin: 30px auto 100px;
}

#calendar_section h2 {
  max-width: 30vw;
  color: #444444;
  font-size: 17px;
  text-align: center;
  line-height: 40px;
}

#calendar_section h2 a {
  color: #a985fd;
  float: none;
}

#calendar_section_top {
  width: 100%;
  float: left;
  margin-top: 20px;
}

#calendar_section_top ul {
  padding: 0;
  list-style-type: none;
}

#calendar_section_top ul li {
  float: left;
  display: block;
  width: 125px;
  text-align: center;
  font-size: 14px;
  min-height: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
}

#calendar_section_bot {
  width: 100%;
  margin-top: 20px;
  float: left;
  border-left: 1px solid #9a81ff;
  border-bottom: 1px solid #bdacff;
  background-color: white;
}

#calendar_section_bot ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#calendar_section_bot ul li {
  float: left;
  width: 14.28%;
  height: 100px;
  text-align: center;
  border-top: 1px solid #bdacff;
  border-right: 1px solid #bdacff;
  min-height: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  position: relative;
}

#calendar_section_bot ul li span {
  margin-top: 7px;
  float: left;
  margin-left: 7px;
  text-align: center;
}

.date_cell {
  cursor: pointer;
  cursor: hand;
}

.date_popup_wrap {
  position: absolute;
  width: 220%;
  height: auto;
  z-index: 2;
  top: -110%;
  left: 30%;
  color: #4d1361 !important;
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px #cccccc;
          box-shadow: 1px 1px 20px #cccccc;
  border-radius: 10px;
  display: none;
}

.popup_event {
  margin: 2px 3px 2px 7px;
  font-size: 0.8rem;
  width: 100%;
}

.popup_event_title {
  margin: 5px;
  font-size: 1.1rem;
}

.popup_event_link {
  margin: 0px 2px 5px 6px;
}

.event-list {
  font-size: 12px;
  color: white;
  background-color: #9d82bb;
  width: 97%;
  border-radius: 3px;
  text-align: left;
  margin: 0px 2px 3px 2px;
}

.date_popup_wrap > a {
  color: #1d072c !important;
  font-style: italic;
}

.event-frame {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-colour {
  background-color: #b9d7dd;
  border-radius: 20px;
  margin: 2px auto;
  text-align: center;
  max-width: 25px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  #calendar_section {
    width: 100%;
    background-color: black;
  }
  #calendar_section-top {
    width: 100%;
  }
  #calendar_section_top ul li {
    width: 14.28%;
  }
  #calendar_section_bot ul li {
    width: 14.28%;
    height: 70px;
    font-size: 15px;
    border-right: 0px solid #ccc;
  }
  #calendar_section_bot {
    width: 100%;
    border-left: 0px solid #ccc !important;
  }
  #calendar_section h2 {
    max-width: 100vw;
  }
  .calendar_frame {
    padding: 70px 0px 30px 0px;
  }
  .date_popup_wrap {
    width: 300%;
    top: 80%;
    left: 0%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #calendar_section {
    width: 100%;
    background-color: black;
  }
  #calendar_section-top {
    width: 100%;
  }
  #calendar_section_top ul li {
    width: 14.28%;
    font-size: 18px;
  }
  #calendar_section_bot ul li {
    width: 14.28%;
    height: 110px;
    font-size: 18px;
  }
  #calendar_section_bot {
    width: 100%;
  }
  #calendar_section h2 {
    max-width: 100vw;
  }
  .calendar_frame {
    padding: 70px 0px 30px 0px;
  }
}
/*# sourceMappingURL=style.css.map */